#auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  margin-top: 10vh;
  height: fit-content;
  background-color: var(--brown-300);
  border-radius: 10px;
}

#auth-wrapper .logo {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid var(--white-400);
}