{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Traffiwork - {% block title %}{% endblock %}</title>
  <link rel="icon" href="{% static 'common/images/favicon.svg' %}" type="image/svg+xml">

  <link rel="stylesheet" href="{% static 'common/common.css' %}">
  <link rel="stylesheet" href="{% static 'auth/base.css' %}">
  <script src="{% static 'auth/base.js' %}" defer></script>
</head>
<body>
  <div id="auth-wrapper">
    <p class="logo">Traffiwork</p>
    {% block form_title %}{% endblock %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}{% endblock %}
  </div>
</body>
</html>